*{
    margin:0;
    padding:0;
  
}
a{
    text-decoration: none;
    color: inherit;
}
.board_list_wrap{
    padding:50px;
}

.board_list_head,
.board_list_body.item{
    font-size:0;
    padding:10px, 0;
 
}
.board_list_head>div,
.board_list_body .item div{
    display:inline-block;
    font-size:14px;
    text-align: center;
}
.board_list_head{
    border-top: 2px solid green;
    border-bottom: 1px solid #999;
} 
.board_list_body.item{
    border-bottom: 1px #ccc;
}


.board_list_head>div{
    font-weight:600;
}
.board_list .num{
    width:30px;

}
.board_list .tit{
    width:500px;
    
}
.board_list_body div.tit{
    text-align:left;
}
.board_list_body div.tit a:hover{
    text-decoration: underline;
}

.board_list .writer{
    width:100px;
    
}
.board_list .date{
    width:100px;
    
}
.board_list .view{
    width:30px;
    
}

/* paging*/
.paging{
    margin-top: 30px;
    text-align:center;
}
.paging a{
    display: inline-block;
    vertical-align:middle;

}
.paging a.first,
.paging a.prev,
.paging a.next,
.paging a.last{
    width:50px;
    height:32px;
    margin-top:20px;
    background:rgb(194, 231, 58) url();
    border-radius:100px;
    

}
.paging a.num{
    margin-left:10px;

}
