 *{
	 margin: 0; padding:0;
	background-color: lightyellow;
	table-layout: auto;}  
 a{
	 color:inherit;
	 text-decoration: none;
 }

               
    #login{
		float:right;
		margin:20px 64px 0 0;
		word-spacing: 5px;
	}           
               

            
	.menu{
			margin: 20px;
			width: 1000px;
			display:flex;
			position:sticky;
			list-style: none;

				
		}
	.logo{
			
		margin: 20px;
		}
	.menu li{
		padding:10px;
		margin:30px;
		font-size: 20px;
		}
section{
	align-items: center;
	padding:20px;
	font-size:20px;
	font-weight:bold;
	
	color:black;
	display: flex;
	flex-direction: row-reverse;
}
section>div{
	
	margin:20px;
	width: 500px;	
	height: 400px;
	padding: 30px;

	border-radius: 20%;

	}
		
                
            
  
        