*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
  
    
}
.wrap{
    width: 500px;
    height: 100vh;

    text-align:center;
    font-size: 20px;
    justify-content: center;

}
h1{
    color:skyblue;
    font-size:2em;
    text-align:center;
}
.fieldset{
    margin-top: 20px;
    width:500px;
    
    background-color:lightyellow;
    align-items: center;
}
.submit input{
    width:30%;
    height: 50px;
    border:0;
    outline:none;
    border-radius: 40px;
    background:linear-gradient(to left, lightgray), rgb(174, 148, 236);
    color:white;
    font-size:1.2em;
    

  
}